* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    background-color: #ffde59;
    height: auto;
    margin-bottom: 30px;
    border-bottom: solid black 4px;
}

h3,
h4,
p,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#basic-navbar-nav {
    background-color: #ffde59;
}

.navbar-nav {
    width: 100%;
    justify-content: center;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #ffde59 !important
}

.navbar-brand {
    margin: 0;
}

.NavBarLogo {
    width: 190px;
}

.nav-link {
    margin: 0px 20px;
    color: black;
}

.navbar-toggler {
    margin: 5px;
    color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#CarritoNavbar {
    color: black;
    width: 70px;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#CarritoNavbar:hover {
    background-color: whitesmoke;
    transition: all ease-in-out 400ms;
    border-radius: 50px;
}

.imgCarrito {
    width: 25px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 80vh;
}

.contenedorProducto {
    margin: 0 20px 40px 20px;
    width: 250px;
    height: 390px;
    text-align: center;
    border: 2px black solid;
}

.imgProducto {
    width: 100%;
}

.dataProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #ffde59;
    border-top: solid black 4px;
}

.nombreProducto {
    margin: 0 5px;
    font-size: 1rem;
    font-weight: bolder;
}

.textdisponible {
    height: auto;
    margin: 5px;
}

.botonDetalles {
    width: 100%;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
}

.contenedorDetalle {
    display: flex;
    flex-direction: column;
}

.imgDetalle {
    width: 350px;
    margin: auto;
    border: solid black 2px;
}

.textoDetalle {
    display: flex;
    flex-direction: column;
    margin: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.txtPDetalle{
    font-size: 0.9rem;
    max-width: 500px;
    margin: 20px 0;
}

.contenedorItemCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemCount {
    display: flex;
}

.botonItemCount {
    margin: 10px;
    width: 40px;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
    border: 0px;
}

.numCantidad {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 10px 0;
    width: 40px;
    padding: 5px;
    border: 0px;
}

.botonAgregarAlCarrito,
.botonIrAlCarrito {
    width: 200px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: black;
    border: 0px;
    color: whitesmoke;
}

.contenedorCarrito {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    min-height: 80vh;
}

.tituloCarrito {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 15px;
}

.carritoVacio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemLista {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    margin-bottom: 15px;
}

.itemListaProduct {
    display: flex;
    min-height: 160px;
}

.divBotonesCheckOut{
text-align: center;
}

.botonCart {
    width: 200px;
    margin: 0 10px 10px 10px;
    padding: 5px;
    background-color: black;
    border: 0px;
    color: whitesmoke;
}

.imgRefCarrito {
    width: 120px;
    height: 120px;
    align-self: center;
}

.textListaCarrito {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textProductoCarrito {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 2px 0;
}

.txtp {
    font-size: 0.9rem;
}

.botonXCarrito {
    max-width: 40px;
    min-width: 40px;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
    border: 0px;
}

.textTotalCarrito {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 15px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffde59;
    height: 10vh;
    border-top: solid black 4px;
    border-bottom: solid black 4px;
}

.textFooter {
    display: flex;
    font-size: 0.9rem;
    margin: 0 5px;
}

.linkIntsgram{
    margin: 0 5px;
    color: black;
    font-weight: bolder;
}

.linkIntsgram:hover {
    color: black;
}